<div id="map-message" class="wt-flash-message">
  <% if flash.now[:alert].present? %>
    <%= flash.now[:alert] %>
  <% elsif flash.now[:notice].present? %>
    <%= flash.now[:notice] %>
  <% end %>
</div>
